.faqmain{
  background-color: #1a1a1a;
  width: 100%;

}
.collapsible-body{
  background: #e0e0e0 !important;
}
.faqsection{
  padding-right: 60px;
  margin-top: 70px;
}
@media screen and (min-width: 500px)
{
  #sidenav{
    background-color: #424242;
    height: 100vh;
    width: 20%;
    position: fixed;
    left: 0;

    border-radius: 4px;
  }
  .faqsection{
    padding-right: 60px;
    margin-top: 70px;
  }
  .btn2{
    margin-right: 60px;
  }
}
.btn{
  background-color: #283593;
}
.btn:hover{
  background-color: #283593;
  color: #f2f2f2;
}

/* side nav bar styling */
#nav-ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.li-ele{
  /*margin-bottom: 15px;*/
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #424242;
}
.li-ele a{
    text-decoration: none;
    color: #f2f2f2;
    display: block;
    padding: 8px 16px;
    transition: all 0.2s linear;
}
.li-ele a:hover,.li-ele a:focus{
  background-color: #757575;

}

.li-ele a:hover:not(.active) {
    color: #d8d8d8;
}

/*styling for sideav*/
.icon{
  display: none;
}

@media screen and (max-width: 600px) {
  #nav-ul li {display: none;}
    a.icon {
    float: left;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  #nav-ul.responsive {position: relative;}
  #nav-ul.responsive .icon {
    position: absolute;
    left: 30px;
    top: 0;

  }
  #nav-ul.responsive li {
    float: none;
    display: block;
    text-align: left;
  }

}
